@font-face {
    font-family: 'PoppinsBold';
    src: url('fonts/PoppinsBold.eot');
    src: url('fonts/PoppinsBold.eot') format('embedded-opentype'),
         url('fonts/PoppinsBold.woff2') format('woff2'),
         url('fonts/PoppinsBold.woff') format('woff'),
         url('fonts/PoppinsBold.ttf') format('truetype'),
         url('fonts/PoppinsBold.svg#PoppinsBold') format('svg');
}
@font-face {
    font-family: 'PoppinsExtraBold';
    src: url('fonts/PoppinsExtraBold.eot');
    src: url('fonts/PoppinsExtraBold.eot') format('embedded-opentype'),
         url('fonts/PoppinsExtraBold.woff2') format('woff2'),
         url('fonts/PoppinsExtraBold.woff') format('woff'),
         url('fonts/PoppinsExtraBold.ttf') format('truetype'),
         url('fonts/PoppinsExtraBold.svg#PoppinsExtraBold') format('svg');
}
@font-face {
    font-family: 'PoppinsLight';
    src: url('fonts/PoppinsLight.eot');
    src: url('fonts/PoppinsLight.eot') format('embedded-opentype'),
         url('fonts/PoppinsLight.woff2') format('woff2'),
         url('fonts/PoppinsLight.woff') format('woff'),
         url('fonts/PoppinsLight.ttf') format('truetype'),
         url('fonts/PoppinsLight.svg#PoppinsLight') format('svg');
}
@font-face {
    font-family: 'PoppinsMedium';
    src: url('fonts/PoppinsMedium.eot');
    src: url('fonts/PoppinsMedium.eot') format('embedded-opentype'),
         url('fonts/PoppinsMedium.woff2') format('woff2'),
         url('fonts/PoppinsMedium.woff') format('woff'),
         url('fonts/PoppinsMedium.ttf') format('truetype'),
         url('fonts/PoppinsMedium.svg#PoppinsMedium') format('svg');
}
@font-face {
    font-family: 'PoppinsRegular';
    src: url('fonts/PoppinsRegular.eot');
    src: url('fonts/PoppinsRegular.eot') format('embedded-opentype'),
         url('fonts/PoppinsRegular.woff2') format('woff2'),
         url('fonts/PoppinsRegular.woff') format('woff'),
         url('fonts/PoppinsRegular.ttf') format('truetype'),
         url('fonts/PoppinsRegular.svg#PoppinsRegular') format('svg');
}
@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('fonts/PoppinsSemiBold.eot');
    src: url('fonts/PoppinsSemiBold.eot') format('embedded-opentype'),
         url('fonts/PoppinsSemiBold.woff2') format('woff2'),
         url('fonts/PoppinsSemiBold.woff') format('woff'),
         url('fonts/PoppinsSemiBold.ttf') format('truetype'),
         url('fonts/PoppinsSemiBold.svg#PoppinsSemiBold') format('svg');
}

*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	float: left;
	height: auto;
}
ul{
	margin-bottom: 0px;
	list-style-type: none;
}
p {
	margin: 0 0 0px;
}
.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.h4, .h5, .h6, h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: 0px;
}


body{
	font-family: 'PoppinsRegular';
	font-size: 14px;
	line-height: 24px;
}
.topber{
	width: 100%;
	float: left;
	padding: 15px 0px;
	background: #343434;
	border-bottom: 1px solid #e9e9e9;
}
.topber_left ul li{
	display: inline-block;
	margin-right: 24px;
}
.topber_left ul li a{
	font-size: 13px;
	line-height: 22px;
	text-decoration: none;
	color: #6b6b6b;
	transition: color .4s linear;
}
.topber_left ul li a:hover{
	color: #fff;
}
.topber_left ul li:last-child {
  margin-right: 0px;
}
.topber_left ul li a i {
	margin-right: 5px;
}
.topber_right {
	float: right;
}
.topber_right ul{
	margin: 0px;
}
.topber_right ul li{
	display: inline-block;
	margin-left: 15px;
}
.topber_right ul li a{
	color: #7d7d7d;
	transition: color .4s linear;
}
.topber_right ul li a:hover{
	color: #fff;
}
/*--------- End Topber---------*/
.header{
	width: 100%;
	float: left;
	padding: 40px 0px;
}
.menuber {
	width: 100%;
	float: left;
	margin-top: 10px;
}
.menuber ul li{
	display: inline-block;
	margin-right:45px;
}
.menuber ul li:last-child {
  margin-right: 0px;
}
.menuber ul li a{
	font-size: 13px;
	line-height: 14px;
	font-family: 'PoppinsSemiBold';
	color: #444444;
	text-decoration: none;
	transition: color .4s linear;
}
.menuber ul li a:hover{
	color: #8bc34a;
}

/*--------- End Header---------*/
.banner{
	width: 100%;
	height: 500px;
	float: left;
	position: relative;

}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide1 {
    animation:fade 15s infinite;
    -webkit-animation:fade 15s infinite;

} 
.slide2 {
    animation:fade2 15s infinite;
   -webkit-animation:fade2 15s infinite;
}
.slide3 {
    animation:fade3 15s infinite;
     -webkit-animation:fade3 15s infinite;
}
.slide4 {
    animation:fade4 15s infinite;
   -webkit-animation:fade4 15s infinite;
}
.slide5 {
    animation:fade5 15s infinite;
     -webkit-animation:fade5 15s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
@keyframes fade4
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade5
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
.banner_overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 100%;
}
.banner_overlay h3 {
	font-size: 24px;
	line-height: 30px;
	color: #fff;
	font-family: 'PoppinsRegular';
	margin-bottom: 20px;
}
.banner_overlay h3 span{
	font-size: 60px;
	line-height: 63px;
	color: #fff;
	display: block;
	text-transform: uppercase;
	font-family: 'PoppinsBold';
}
.banner_overlay p {
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	font-family: 'PoppinsRegular';
	margin-bottom: 30px;
	padding: 0px 60px;
}
.btn {
	font-size: 13px;
	color: #ffffff;
	font-family: 'PoppinsMedium';
	padding: 15px 40px;
	background: #4caf50;
	border-radius: 30px;
	margin-left: 25px;
	border: 1px solid #aeaeae;
	transition: color .4s linear;
	text-transform: uppercase;
}
.btn:hover{
	background: #fff;
	color:#8bc34a;
}
.btn_more{
	background: #fff;
	color:#8bc34a;
}
.btn_more:hover{
	color: #ffffff;
	background: #4caf50;
}
/*--------- End Banner---------*/
.about_sec {
	width: 100%;
	float: left;
	padding: 90px 0px;
	border-bottom: 1px solid #ededed;
	position: relative;
}
.about_img {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: -179px;
}
.about_img::after {
	content: "";
	position: absolute;
	left: 0;
	z-index: 0;
}
.about_info h6{
	font-size: 10px;
	line-height: 32px;
	color: #808080
}
.about_info h1 {
	font-size: 30px;
	line-height: 32px;
	color: #444444;
	margin-bottom: 20px;
}
.about_info h1 span{
	color: #8bc34a;
}
.about_info p {
	font-size: 14px;
	line-height: 24px;
	color: #8c8c8c;
	margin-bottom: 40px;
}
.l_btn{
	border: 1px solid #8bc34a;
}
/*--------- End About---------*/
.our_services{
	width: 100%;
	float: left;
	padding: 70px 0px;
	background: #fafafa;
}
.services_left h6 {
	font-size: 10px;
	line-height: 32px;
	color: #808080;

}
.services_left h3 {
	font-size: 30px;
	color: #444444;
	line-height: 32px;
	font-family: 'PoppinsBold';
	margin-bottom: 20px;
}
.services_left h3 span{
	color: #8bc34a;
}
.services_left p{
	color: #808080;
	margin-bottom: 40px;
}
.services_item p{
	margin-bottom: 0px;
}
.services_item i {
	font-size: 24px;
	color: #444444;
	margin-bottom: 10px;
}
.services_left h4 {
	font-size: 18px;
	color: #444444;
	position: relative;
	margin-bottom: 20px;
}
.services_item h4::after {
	content: "";
	position: absolute;
	width: 40px;
	height: 2px;
	background: #808080;
	left: 0;
	top: 30px;
}
.services_item {
	width: 100%;
	float: left;
	margin-bottom: 15px;
}
.img_frame{
	width: 100%;
	float: left;
	position: relative;
}
.frame img {
  border:solid 2px #d2d2d2;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-height:100%;
  max-width:100%;
}

.frame {
  background-color:#ddc;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  position:relative;
  text-align:center;
  &:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  &:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
  }
}
.frame1 {
	position: absolute;
	margin-left: ;
	left: ;
	top: 35%;
	z-index: 1;
	margin-right: ;
	right: 0px;
	margin-right: ;
}
/*
==========================================
   portfolio
==========================================
*/
.portfolio {
	width: 100%;
	float: left;
	padding: 60px 0px;
	border-bottom: 1px solid #ededed;
}
.section-header p{
	font-size: 10px;
	color: #808080;
	margin-bottom: 5px;
	text-align: center;
}
.section-header h3{
	text-align: center;
	font-size: 30px;
	margin-bottom: 60px;
	font-family: 'PoppinsBold';
	position: relative;
}
.section-header h3 span{
	color:#8bc34a; 
}

.section-header h3::after {
	position: absolute;
	content: "";
	height: 3px;
	width: 20px;
	background: #8bc34a;
	top: 50px;
	left: 50%;
	transform: translate(-50%);
}
.section-header h3::before{
	position: absolute;
	content: "";
	height: 1px;
	width: 42px;
	background: #e8e8e8;
	top: 51px;
	left: 50%;
	transform: translate(-50%);
}

.portfolio-menu {
	text-align: center;
}
.portfolio-menu button {
	border: 0;
	color: #3c3c3c;
	font-size: 13px;
	transition: color .3s linear;
	border-right: 1px solid #444444;
	background: transparent;
	padding: 0px 10px;
	line-height: 13px;
	font-family: 'PoppinsSemiBold';
}
.portfolio-menu button:last-child{
	border-right:0px; 
} 
.portfolio-item{
	margin-top: 36px;
	position: relative;
	transition: .3s;
	width: 100%;
	display: inline-block;
}
.portfolio-item img{
	max-width: 100%;
}
button.mixitup-control-active{
	color: #8bc34a;
}
.portfolio-item-hover a{
	font-size: 24px;
	cursor: pointer;
	color: #ffffff;
}
.portfolio-item-hover{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #ffffff;
	background: #9e2637;
	transition: .3s;
	opacity: .55;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	visibility: hidden;
}
.portfolio-item:hover .portfolio-item-hover {
	visibility: visible;
}
.portfolio-item-hover i {
	font-size: 40px;
}
/*
==========================================
   Care
==========================================
*/

.care_tab{
	width: 100%;
	float: left;
	height: auto;
}
.care_tab ul{

}
.care_tab ul li {
	width: 33.33%;
}
.care_tab ul li a{
	font-size: 18px;
	color: #444444;
	font-family: 'PoppinsMedium';
	text-align: center;
	border-radius: 0px;
	margin-right: 0px;


}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border-bottom: 2px solid #8bc34a;
	border-top: 0px;
}
.nav-tabs > li {
	float: left;
	margin-bottom: 0px;
}
.tab-content{
	width: 100%;
	float: left;
	padding: 60px 0px;
	
}
.tab-content h3{
	font-size: 30px;
	line-height: 24px;
	color: #444444;
	font-family: 'PoppinsMedium';
	margin-bottom: 25px;
}
.tab-content p{
	font-size: 14px;
	line-height: 24px;
	color: #808080;
	font-family: 'PoppinsRegular';
	margin-bottom: 25px;
}
.tab-content p:last-child{
	margin-bottom: 0px;
}
/*
==========================================
   Advertise
==========================================
*/
.add_section {
	background: url(../images/testimonial.jpg) #1abc9c;
	padding: 100px 0;
	width: 100%;
	float: left;
	border-bottom: 6px solid #8bc34a;
	position: relative;
}
.add_section h3{
	text-align: center;
	font-size: 30px;
	color: #ffffff;
	text-transform: uppercase;
}
.nbtn {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	margin-bottom: -125px;
}

/*
==========================================
   Clients
==========================================
*/

.our_clients {
	width: 100%;
	float: left;
	height: auto;
	background: #fafafa;
	padding-top: 60px;
}
.our_team{
	width: 100%;
	float: left;
	padding: 90px 0px;
}


.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	background: #87bd4a;
	color: #fff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);

}
.overlay ul {
	list-style-type: none;
}
.overlay ul li{
	display: inline-block;
	margin-left: 5px;
}
.overlay ul li a{
	color: #fff;
	display: block;
}
.overlay ul li a i{

	margin-left: 5px;
}


.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}
.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}

.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
/*--------- End Service---------*/
.footer_top{
	width: 100%;
	float: left;
	background: #262626;
	padding: 100px 0px 75px;
	position: relative;
}
.footer_about{
	width: 100%;
	float: left;
	margin-top: 30px;
	z-index: 9999;
}
.footer_about ul{
	margin-top: 60px
}
.footer_about ul li{
	display: inline-block;
	margin-right: 25px;
}
.footer_about ul li a{
	color: #727272;
	transition:color .4s linear;

}
.footer_about ul li a:hover{
	color: #fff;	 
}
.footer_top h4{
	font-size: 18px;
	line-height: 18px;
	color: #6b6b6b;
	margin-bottom: 40px;
	font-family: 'PoppinsSemiBold';
}

.footer_top p{
	font-size: 14px;
	line-height: 24px;
	color: #6b6b6b;
	font-family: 'PoppinsRegular';
}
.footer_tweets a i {
	display: inline-block;
	margin-right: 20px;

}
.footer_tweets a{
	font-size: 14px;
	line-height: 24px;
	color: #6b6b6b;
	text-decoration: none;
	font-family: 'PoppinsRegular';
}
.footer_tweets span {
	display: block;
	margin-bottom: 10px;
	font-size: 10px;
	color: #6b6b6b;
	font-family: 'PoppinsRegular';
}
.footer_newsletter p {
	padding-right: 20px;
	margin-bottom: 25px;
}
.footer_newsletter input {
	background: transparent;
	padding: 10px 20px;
	color: #4a4a4a;
	border: 1px solid #575757;
	border-radius: 30px;
	position: absolute;
}
.footer{
	width: 100%;
	float: left;
	padding: 30px 0px;
	background: #1c1c1c;
}
.footer{
	font-size: 13px;
	line-height: 22px;
	color: #666666;
	text-align: center;
}
.footer p span{
	color:#8bc34a; 
}


/*
==========================================
   Responsive menu
==========================================
*/
.mobile_menu{
	display: none;
	float: right;
	color: #000;
	text-align: right;
}

.menu_overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;/
}

.menu_overlay a {
	padding: 10px;
	text-decoration: none;
	font-size: 24px;
	color: #818181;
	display: block;
	transition: 0.3s;
	margin-bottom: 10px;
}

.menu_overlay a:hover, .menu_overlay a:focus {
  color: #f1f1f1;
}

.menu_overlay .closebtn {
	position: absolute;
	top: 0px;
	right: 20px;
	font-size: 35px;
}

@media screen and (max-height: 450px) {
  .menu_overlay a {font-size: 20px}
  .menu_overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


/*
==========================================
   Responsive css
==========================================
*/
@media only screen and (max-width: 767px) {
	.mobile_menu{
		display: block;
	}
	.menuber{
		display: none;
	}
	.topber{
		display: none;
	}
	.header {
		padding: 15px 0px;
	}
	.banner_overlay h3 {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 15px;
	}
	.banner_overlay h3 span {
		font-size: 30px;
		line-height: 40px;
	}
	.banner_overlay p {
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 20px;
	}
	.btn {
		font-size: 13px;
		padding: 10px 15px;
		margin-left: 5px;
	}
	.about_img {
		display: none;
	}
	.about_sec {
		padding: 25px 0px;
	}
	.about_info h1 {
		margin-bottom: 15px;
	}
	.about_info p {
		margin-bottom: 15px;
	}
	.our_services {
		padding: 25px 0px;
	}
	.services_left p {
		margin-bottom: 15px;
	}
	.services_left h3 {
		margin-bottom: 15px;
	}
	.frame1 {
		display: none;
	}
	.portfolio-item {
		width: 48%;
		margin-left: 5px;
		float: left;
	}
	.section-header h3 {
		text-align: left;
	}
	.section-header h3::before {
		left: 0;
		transform: translate(0%);
		text-align: left;
	}
	.section-header p {
		text-align: left;
	}
	.section-header h3::after {
		left: 10px;
		transform: translate(0%);
	}
	.portfolio {
		padding: 25px 0px;
	}
	.tab-content h3 {
		font-size: 25px;
		margin-bottom: 15px;
	}
	.tab-content p {
		font-size: 13px;
		line-height: 19px;
		margin-bottom: 10px;
	}
	.tab-content p:last-child {
		margin-bottom: 10px;
	}
	.add_section h3 {
		font-size: 20px;	
	}
	.tab-content {
		padding: 25px 0px;
	}
	.our_team {
		padding: 25px 0px;
	}
	.hovereffect img {
		width: 100%;
		float: left;
	}
	.hovereffect {
		width: 50%;
		float: left;
	}
	.our_clients {
		padding-top: 25px;
	}
	.owl-nav {
		display: none;
	}
	.owl-dots {
		display: none;
	}
	.footer_top {
	padding: 25px 0px 75px;
}
	.footer_top h4 {
		font-size: 17px;
		margin-bottom: 15px;
	}
	.footer_about ul {
		margin-top: 50px;
	}
	.footer_top p {
		font-size: 13px;
		line-height: 20px;
	}
	.footer_top h4 {
		font-size: 15px;
		margin-bottom: 6px;
		margin-top: 10;
	}
	.footer_about {
	 margin-top: 0px; 
	}

}
@media only screen and (max-width: 480px) {
	.portfolio-item {
		width: 100%;
	}
	.banner_overlay h3 span {
		font-size: 25px;
		line-height: 35px;
	}
	.banner_overlay p {
		padding: 0px 30px;
	}
	.banner_overlay h3 {
		font-size: 13px;
	}
}









